*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #030000, #000000);
}
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
    
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    
    outline: none;
    background-color: rgba(73, 72, 72, 0.75);
    margin: 3px;
    color: white;
    
}
.btn1{
    border-radius: 50%;
    
}
.calculator-grid > button:hover {
    background-color: rgba(216, 219, 5, 0.9);
}
.span-two {
    grid-column: span 2;
    border-radius: 200px;
    
}
.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    margin: 5px;
    }    
.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
    }
.output .current-operand {
    color: white;
    font-size: 2.5rem;
} 